.counter
    button
        padding 7px
        background-color rgba(0, 0, 0, 0.662)
        color white
        border 3px solid yellow
        border-radius 7px
        transition all, 0.3s
        &:hover
            background-color deeppink
            cursor pointer
        &:active
            transform scale(107%, 107%)
    